<div class="container flex" >
    <h1>Configuración del servidor</h1>
    <h3>Directorio de trabajo: {{path}}</h3>
    <h3>Versión de Node: {{version}}</h3>
    <h3>Sistema Operativo:{{so}}</h3>
    <h3>Uso de la memoria: {{memory}}</h3>
    <h3>Puerto: {{puerto}}</h3>
    <h3>Entorno: {{entorno}}</h3>
    <h3>Persistencia: {{persistencia}}</h3>
    <button type="botton" class="btn btn-secondary" id="volver" onclick="location.href='http://localhost:8080/login'">Ir a Inicio</button>
</div>