{{>header}}
<div>
{{#if isRender}}
    <h2 style="text-align: center;">Productos</h2>
    <div class="contenedor d-flex p-2 flex-wrap">
            {{#each productos}}
                <div class="card tarjeta">
                    <img class="card-img-top img-fluid" alt="{{descripcion}}" src="{{foto}}" onclick="location.href=`/productos/{{_id}}`">
                    <div class="card-body">
                        <h5 class="card-title">{{nombre}} - cod. {{codigo}} </h5>
                        <h5 class="card-text">{{categoria}}</h5>
                        <p class="card-text">Precio: {{precio}} $</p>
                        <form method="POST" action="/carrito/{{_id}}/productos">
                            <button type="submit" class="btn btn-success">Agregar al carrito</button>
                        </form>
                    </div>
                </div>
            {{/each}}
        </div>
    {{else}}
        <div class="contenedor card tarjeta title" style="height:200px">No hay Productos</div>
{{/if}}
{{>mensajeria}}
{{>footer}}